<body>
    <img src="assets/images/image.jpg" class="back">
    <div class=REC>
        <h2> View Employee Details</h2>
<div>

    <div>
        <label> <b> Employee Name: </b></label> {{employee.employeename}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{employee.age}}
    </div>
    <div>
        <label> <b> Salary: </b></label> {{employee.salary}}
    </div>
    <div>
        <label> <b> Designation: </b></label> {{employee.designation}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailid}}
    </div>
</div>
</div>
</body>