<body>
    <img src="assets/images/image.jpg" class="back">
    <div class=REC>
        <h2> View Reservation Details</h2>
        <div>

            <div>
                <label> <b> Guest Name: </b></label> {{reservation.nameoftheguest}}
            </div>
            <div>
                <label> <b> Room No: </b></label> {{reservation.roomno}}
            </div>
            <div>
                <label> <b> Room Type: </b></label> {{reservation.roomtype}}
            </div>
            <div>
                <label> <b> Check in: </b></label> {{reservation.checkin}}
            </div>
            <div>
                <label> <b> Check out: </b></label> {{reservation.checkout}}
            </div>
            <div>
                <label> <b> Status: </b></label> {{reservation.status}}
            </div>
        </div>
    </div>
</body>