h1{
  text-align: center;
  color: black;
}.back{
    width: 100%;
    height: 100%;
    background-size: "cover";
    color: white;
    text-align: center;
  }
  .REC{
    width: 75%;
    height: 100%;
    color: white;
    top: 70%;
    left: 55%;
    position: absolute;
    transform: translate(-50%,-50%);
   
  }