<div class="container">
    <div class="card card-primary" [class.card-success]="hasJustViewed">
        <div class="card-header pointerCursor bg-primary" (click)="isHidden = !isHidden">
            <h3 class="card-title">{{title | uppercase}}</h3>
        </div>
        <div class="card-body" [hidden]="isHidden">
            <ng-content select=".myPanelBody"></ng-content>
        </div>
        <div class="card-footer" [hidden]="isHidden">
            <ng-content select=".myPanelFooter"></ng-content>
        </div>
    </div>
</div>